<% if notice %>
  <p><%= notice %></p>
<% end %>

<% if alert %>
  <p><%= alert %></p>
<% end %>

<h1>E-commerce Demo</h1>
<p>Welcome to the Botrytis semantic matching demo!</p>

<nav>
  <% if session[:user_id] %>
    <%= link_to "Products", products_path %>
    <%= link_to "Cart", cart_path %>
    <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
    <%= link_to "Login", login_path %>
  <% end %>
</nav>
